body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
header {
  background-color: #f2f2f2;
}
nav {
  background-color: #d59a9a;
  color: #fff;
  padding: 1em;
  text-align: center;
}
main {
  background-color: #fff;
  font-size: 18px;
  padding: 2em;
}
li {
  display: inline-block;
  width: 200px;
}
h1 {
  text-align: center;
  font-family: 'Times New Roman', serif;
  color: #00698f;
}
p {
  line-height: 1.5;
}
form{
    background-color: #d59a9a;
}

